---
layout: default
---


<div class="row">
    <div class="col-lg-6 offset-md-3">
        <div class="card">
                <h1 class="card-title"> Contact Me </h1>
                 {%- include contact_me_form.html -%}
                 <form
				  action="https://formspree.io/f/xzbybpek"
				  method="POST"
				>
				  <label>
				    Your email:
				    <input type="email" name="_replyto">
				  </label>
				  <label>
				    Your message:
				    <textarea name="message"></textarea>
				  </label>

				  <!-- your other form fields go here -->

				  <button type="submit">Send</button>
				</form>
             </div>
    </div>
</div>


